{% extends './template/base.njk' %}

{% block custom_js %}
    <script src="/script/index.js"></script>
{% endblock %}

{% block custom_content %}
    <h3>file upload</h3>

    <div id="imageList" class="image-list">
        {% for image in imageList %}
            <div class="image-item">
                <a href="{{ image.visitUrl }}" target="_blank">
                    <img src="{{ image.visitUrl }}" alt="not found">
                </a>
                <button class="btn btn-danger btn-sm" data-dom-id="{{ image._id }}"
                        data-delete-type="backendDelete">delete</button>
            </div>
        {% endfor %}
    </div>

{% endblock %}
